.round {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  position: relative
}


img.centered
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
.avatar-frame{border: 2px solid #fff;}
.avatar-frame,.avatar-frame img{
	width: 150px;
	height: 150px;
	-webkit-border-radius: 50%; /* Saf3+, Chrome */
	border-radius: 50%; /* Opera 10.5, IE 9 */
	/*-moz-border-radius: 30px;  Disabled for FF1+ */
}
*/
